div,p,ul,ol,li,dl,dt,dd,form,table,h1,h2,h3,h4,h5,h6,input,select,textarea,span,strong,em,b,i,u,a,img,*{padding:0;margin:0;box-sizing:border-box}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
body { font-family: "微软雅黑"; font-size: 12px;  color: #000; background-color: #fff; }
ul,ol,li { list-style: none; }
h1,h2,h3,h4,h5,h6{ font-size: 14px;}
img{ border: none;}
img,input,textarea,select,output,u,i,b,em,strong{ vertical-align: middle;}
a { background: transparent; text-decoration: none; color: #333; }
a:hover{  color: #006699; }
.clear{ clear:both; height: 0; width: 0; overflow: hidden;}
body,html{ height:100%;width:100%;background: #f5f5f5;}
.fl,
.head li,
.nav li,
.pic ol li,
.con1 .top li,
.con2 .left ul li,
.con2 .right ol li{
	float: left;
}
.fr{
	float: right;
}
.common{
	width: 1200px;
	margin: 0 auto;
}
header{
	height: 31px;
	border-bottom: 1px solid #e0e0e0;
	background: #fbfbfb;
	line-height: 30px;
}
.head i{
	display: inline-block;
	width: 26px;
	height: 28px;
	border:1px solid #d6d6d6;
	line-height: 26px;
	text-align: center;
	transform: scale(.5);
	background: #f9f8f8;
}
.head li{
	padding: 0 7px;
}
.head ol li:last-child a{
	border: 1px solid #cfcfcf;
	padding: 1px 2px;
	color: #1582bd;
}
.head ol li:last-child a b{
	color: #eb182c;
}
.logos{
	clear: both;
	height: 118px;
	background: #fff;
}
.logo{
	height: 118px;
	padding-top: 27px;
}
.logo .city{
	width: 75px;
	margin: 5px 35px 0 140px;
}
.logo .city i{
	display: inline-block;
	transform: scale(.5);
}
.logo .city a{
	display: inline-block;
	line-height: 20px;
	text-align: center;
	color: #a5a5a5;
	width: 74px;
	height: 22px;
	border:1px solid #e3e3e3;
	margin-top: 8px;
}
.logo .center{
	height: 55px;
	width: 411px;
}
.logo .center form{
	height: 33px;
	width: 411px;
	border: 1px solid #d0d0d0;
	margin-bottom: 10px;
	border-radius: 0 3px 3px 0;
	overflow: hidden;
}
.logo .center form input{
	width: 333px;
	height: 31px;
	border: 0;
	outline: 0;
}
.logo .center form button{
	width: 76px;
	height: 33px;
	margin-top: -1px;
	background: #cd0000;
	color: #fff;
	border: 0;
	outline: 0;
}
.logo .center p a{
	color: #3399cc;
}
.logo .right{
	width: 202px;
	height: 55px;
}
.logo .right dl{
	height: 55px;
	width: 48px;
	margin: 0 5px;
	text-align: center;
}
.logo .right dl dt{
	width: 27px;
	margin-left: 8px;
	margin-bottom: 5px;
	height: 31px;
	background: url(../img/logo_05.png) no-repeat;
}
.logo .right dl:nth-child(2) dt{
	background-position: -60px 0;
}
.logo .right i{
	display: inline-block;
	width: 26px;
	height: 28px;
	border:1px solid #d6d6d6;
	line-height: 26px;
	text-align: center;
	transform: scale(.5);
	background: #f9f8f8;
	color: #cc0000;
}
nav{
	clear: both;
	height: 42px;
	background-image: -webkit-linear-gradient(top,#e24a4b,#aa1819);
	border-top: 1px solid #9f2b2b;
	border-bottom: 1px solid #d5d5d5;
	line-height: 40px;
}
.nav h3{
	color: #fff;
	width: 200px;
	height: 40px;
	background: -webkit-linear-gradient(left,#9b1919,#ab1b1b,#b11d1d); 
	text-align:center;
}
.nav ul li a{
	display: inline-block;
	height: 40px;
	padding: 0 18px;
	font-size: 14px;
	color: #fff;
}
.nav ul li a:hover{
	background: -webkit-linear-gradient(left,#9b1919,#ab1b1b,#b11d1d); 
}
.banner{
	clear: both;
	height: 361px;
}
.banner .left-list{
	height: 361px;
	width: 200px;
	border: 2px solid #ab9f99;
	border-top: 0;
	background: #fff;
}
.banner .left-list li a span{
	float: left;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	margin-top: 12px;
	background:url(../img/xb_10.png) no-repeat;
}
.banner li:nth-child(2) a span{
	background-position: 0 -42px;
}
.banner li:nth-child(3) a span{
	background-position: 0 -80px;
}
.banner li:nth-child(4) a span{
	background-position: 0 -120px;
}
.banner li:nth-child(5) a span{
	background-position: 0 -160px;
}
.banner li:nth-child(6) a span{
	background-position: 0 -200px;
}
.banner li:nth-child(7) a span{
	background-position: 0 -240px;
}
.banner li:nth-child(8) a span{
	background-position: 0 -280px;
}
.banner .left-list li{
	height: 40px;
	border-bottom: 1px solid #eeeeee;
	line-height: 39px;
	padding-left: 28px;
}
.banner .left-list li:last-child{
	border-bottom: 0;
	padding-left: 55px;
}
.banner .pic{
	height: 320px;
	margin: 10px 0 0 10px;
}
.pic{
	position: relative;
	width: 740px;
}
.pic ul{
	height: 350px;
	overflow: hidden;
}
.pic img{
	height: 350px;
}
.pic ol{
	width: 194px;
	height: 18px;
	position: absolute;
	right: 10px;
	bottom: 13px;
}
.pic ol li a{
	display: inline-block;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: #cccccc;
	margin-right: 6px;
	line-height: 18px;
	text-align: center;
}
.pic ol li a:hover{
	background: #eb0000;
	color: #fff;
}
.banner .right{
	width: 238px;
	height: 350px;
	border:1px solid #d5d5d5;
	margin-top: 10px;
	background: #fff;
	padding: 18px 15px 0 15px;
}
.banner .right h3{
	font-weight: normal;
	color: #ba1414;
}
.banner .right dl{
	text-align: center;
	height: 200px;
	border-bottom: 1px dashed #b1b1b1;
	margin-top: 20px;
}
.banner .right dl dd:last-child{
	color: #c11b1b;
	margin-top: 20px;
}
.banner .right dl dt{
	margin-bottom: 10px;
}
.con1 .left{
	width: 950px;
	height: 332px;
	border:1px solid #d5d5d5;
	background: #fff;
	padding: 0 30px 0 5px;
}
.con1{
	clear: both;
	height: 332px;
	margin-top: 20px;
}
.con1 .top{
	height: 54px;
	line-height: 54px;
}
.con1 .top h3{
	color: #e3292a;
	border-left: 8px solid #e3292a;
	height: 19px;
	line-height: 19px;
	margin: 16px 5px 0 16px;
	padding-left: 5px;
}
.con1 .top li a{
	margin: 0 7px;
}
.con1 .top ol li a{
	display: inline-block;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #999999;
}
.con1 .top ol li a:hover{
	background: #c72121;
}
.con1 .left dl{
	width: 150px;
	height: 250px;
	text-align: center;
	margin-left: 30px;
	float: left;
}
.con1 .left dl img{
	width: 150px;
}
.con1 .left dl dd{
	line-height: 22px;
	margin-top: 15px;
}
.con1 .right{
	width: 240px;
	height: 332px;
	border:1px solid #d5d5d5;
	background: #fff;
	padding: 0 15px;
}
.con1 .right h3{
	height: 48px;
	line-height: 48px;
	color: #cd0000;
	font-weight: normal;
}
.con1 .right h3 a{
	float: right;
	font-size: 12px;
}
.con1 .right dl{
	width: 210px;
	height: 184px;
	text-align: center;
	border-bottom: 1px dashed #b1b1b1;
}
.con1 .right dl img{
	width: 210px;
	margin-bottom: 15px;
}
.con1 .right ul{
	margin-top: 5px;
}
.con1 .right ul li{
	line-height: 28px;
	padding-left: 18px;
	background: url(../img/d_21.png) no-repeat 5px;
}
.con2{
	clear: both;
	margin-top: 20px;
}
.con2 .left{
	width: 950px;
	height: 395px;
	border:1px solid #d5d5d5;
	background: #fff;
}
.con2 .left ul{
	height: 39px;
	background: #f9f9f9;
	line-height: 39px;
	border-bottom: 1px solid #c0c0c0;
}
.con2 .left ul li:not(:last-child) a{
	padding:0 25px;
	display: inline-block;
	height: 38px;
	border-right: 1px solid #e5e5e5;
}
.con2 .left ul li:not(:last-child) a:hover{
	background: #c72121;
	color: #fff;
}
.con2 .left ul li:first-child a{
	background: #c72121;
	color: #fff;
	position: relative;
}
.con2 .left ul li:first-child a:after{
	content: "";
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: #c72121;
	position: absolute;
	left: 50%;
	margin-left: -4px;
	bottom: -8px;
}
.con2 .left li:last-child{
	float: right;
	margin-right: 40px;
}
.con2 .left li:last-child a i{
	color: #c4c4c4;
	display: inline-block;
	transform: scale(.6);
}
.con2 .left p{
	height: 38px;
	border-bottom: 1px solid #e0e0e0;
	line-height: 37px;
	padding-left: 20px;
}
.con2 .left p a{
	color: #3399cc;
}
.con2 .left dl img{
	width: 150px;
}
.con2 .left dl{
	width: 150px;
	height: 275px;
	margin-top: 22px;
	margin-left: 31px;
	text-align: center;
	float: left;
}
.con2 .left dl dd{
	margin-top: 10px;
}
.con2 .left dl dd:last-child{
	font-size: 16px;
	color: #cc0000;
}
.con2 .left dl dd:last-child span{
	font-size: 12px;
}
.con2 .left dl dd:last-child span:last-child{
	color: #a5a5a5;
}
.con2 .right{
	width: 240px;
	height: 395px;
	border: 1px solid #d5d5d5;
	background: #fff;
	padding: 0 14px;
}
.con2 .right h3{
	height: 58px;
	line-height: 58px;
	font-weight: normal;
	color: #cd0000;
}
.con2 .right h3 ol li a{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #999999;
	margin: 0 2px;
}
.con2 .right h3 ol li a:hover{
	background: #c72121;
}
.con2 .right ul{
	margin-top: 5px;
}
.con2 .right ul li{
	line-height: 28px;
	padding-left: 18px;
	background: url(../img/d_21.png) no-repeat 5px;
}
.con2 .right ul li a{
	color: #4c4c4c;
}
